html {
  box-sizing: border-box;
  /* above tells browser to include elements padding and border
    in its width and height calculations.
  */
}

*, *:before, *:after{
  box-sizing: inherit;
}
html, body, #root{
  height:100%;
  /*also make html and body elements to take up the whole
    screen size vertically.
  */
}
